@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

 h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
}

/* navigation */

.logo {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1, i {
    color: #F8FBEB
}

.logo p {
    margin-bottom: 0;
    color: #F8FBEB;
    font-size: 1rem;
}

.nav-item a {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: #F8FBEB;
}

.nav-link:hover {
    transform: scale(1.1);
    transition: 0.4s;
    color: #F8FBEB;
}

/* background colors */

.light-bg {
    background-color: #F8FBEB;
}

.dark-bg {
    background-color: #8B9569;
}

.main-bg {
    background-color: #F8FFF8;
}

/* blog post list card */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #8B9569;
}

.author {
    color: #F8FBEB;
    margin: 4px;
    text-transform: uppercase;
}

.card-icon i {
    color:#445261;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #8B9569;
}

/* blog post */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: #F8FBEB;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-title {
    margin-top: 3%;
    margin-left: 5%;
}

.post-date, .post-icon {
    margin-left: 5%;
    color: #F8FBEB;
}

.post-icon i {
    color: #F8FBEB;
    margin-left: 1rem;
}

/* buttons */

.btn-signup {
    background-color:#8B9569;
    color: #F8FBEB;
}

.btn-signup:hover,
.btn-signup:active {
    background-color:#445261;
    color:#F8FBEB;
}

.link {
    color: #8B9569;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* footer */

footer a {
    font-size: 1.4rem;
}

.footer-desc {
    font-size: 1rem;

}

.socials:hover {
    transform: scale(1.2);
    transition: 0.4s;
}