@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Amatic SC', cursive;
}

/* navigation */

.logo {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo p {
    margin-bottom: 0;
    font-size: 1rem;
}

.nav-item a {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: #F8FBEB !important;
}

/* background colors */

.light-bg {
    background-color: #F8FBEB;
}

.dark-bg {
    background-color: #8B9569;
}

.main-bg {
    background-color: #F8FFF8;
}

/* blog post-list card */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #8B9569;
}

.author {
    color: #F8FBEB;
    margin: 4px;
    text-transform: uppercase;
}

.card-icon i {
    color: #8B9569;
}

.post-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #445261;
}

/* blog post content */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: #F8FBEB;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.post-title,
.post-date,
.plant-icon {
    margin-top: 3%;
    margin-left: 5%;
}

.post-icon i {
    color: #445261
}

.comments {
    padding: 10px;
    margin: 10px;
}

.totals {
    font-family: 'Amatic SC', cursive;
    font-size: 1.2rem;
}

/* links and buttons */

.btn-signup,
.btn-edit {
    background-color: #8B9569;
    color: #F8FBEB;
    margin: 2px;
}

.btn-signup:hover,
.btn-edit:hover {
    color: #F8FBEB;
    transform: scale(1.1);
    transition: 0.5s;
}

.link {
    color: #8B9569;
    text-decoration: none;
}

.link:hover {
    color: #445261;
    text-decoration: underline;
}

.no-border,
.btn-like i {
    color: #445261;
    border: none;
    background: transparent;
}

.btn-like>i:hover {
    color: #445261;
    border: none;
    background: transparent;
    transform: scale(1.2);
    transition: 0.4s;
}

.card-body a {
    color: #8B9569;
    font-weight: bold;
    text-decoration: none;
}

/* footer */

footer a {
    font-size: 1.4rem;
}

.socials:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

/* media queries */

/* unfolded phones (mobile phones, 320px and smaller) */
@media (max-width: 320px) {
    .logo p {
        margin-bottom: 0;
        font-size: 0.8rem;
    }

    .navbar-toggler {
        margin-top: 5px;
    }
}

/* large devices (laptops, less than 992px) */

@media (min-width: 1024px) {
    .nav-link:hover {
        transform: scale(1.1);
        transition: 0.4s;
        color: #F8FBEB;
    }

    .summary-card {
        height: 280px;
    }

}