{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card-container my-5 w-50 m-auto">
        <div class="col-12">
        <!--Prompt the user for confirmation when deleting review entry-->
        <form method="POST" action=".">
            {% csrf_token %}
            <h3 class="fw-bold fs-3">Are you sure you want to delete your comment?</h3>
            <div class="text-center">
                <input class="btn btn-post-comment my-3 w-25" type="submit" value="Yes" /> 
            </div>
            <div class="text-center">
                <a class="btn no btn-post-comment my-3 w-25" href="/">Homepage</a>
            </div>
        </form>
        </div>
    </div>
</div>
{%endblock%}