{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card-container my-5">
        <div class="col-12">
            <form method="POST" action=".">
                {% csrf_token %}
                <h3 class="text-center">Are you sure you want to delete your comment?</h3>
                <div class="text-center">
                    <input class="btn btn-signup btn-md mt-2" type="submit" value="Yes!" /> 
                </div>
                <div class="text-center">
                    <a class="btn btn-signup btn-md mt-2" href="{% url 'home' %}">No, go back!</a>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}