{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<!--If user is authenticated render view to update review.-->
<div class="container">
    {% if user.is_authenticated %}
    <div class="card-container my-5">
        <div class="col-12">
            <h3>Edit your Comment: </h3>
            <form method="post">
                {{ form.media }}
                {{ form | crispy }}
                {% csrf_token %}
                <button class="btn btn-signup btn-md mt-2 type='submit'">Post</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{%endblock%}