{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- blog entries -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for plant in plant_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'post_detail' plant.slug  %}">
                                {% if "placeholder" in plant.featured_image.url %}
                                <img class="card-img-top" alt="A plant in a ceramic pot placed on a table." src="../static/images/leaf-placeholder-square.jpg">
                                {% else %}
                                <img class="card-img-top" alt="A picture of the featured plant of the blog post." src=" {{ plant.featured_image.url }}">
                                {% endif %}
                                </a>
                                <div class="image-flash">
                                    <p class="author">Author: {{ plant.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' plant.slug  %}" class="post-link">
                                <h2 class="card-title">{{ plant.title }}</h2>
                            </a>
                            <p class="card-excerpt">{{ plant.excerpt }}</p>
                            <p class="card-text card-icon"><i class="fa-brands fa-envira"></i>
                                {{ plant.get_plant_level_display }}.</p>
                            <p class="card-text card-icon"><i class="fa-solid fa-sun"></i>
                                {{ plant.get_plant_light_display }}.</p>
                            <p class="card-text card-icon"><i class="fa-solid fa-droplet"></i>
                                {{ plant.plant_thirst }}/3</p>
                            <hr />
                            <p class="card-text text-muted h6">{{ plant.created_on}}</p>
                            <p class="card-icon">
                                <!-- post likes count -->
                                <span class="p-1"><i class="fa-solid fa-heart"></i> {{ plant.number_of_likes }}</span>
                                <!-- post comments count -->
                                {% with plant.comments.count as total_comments %}
                                <span class="p-1"><i class="fa-solid fa-comment"></i> {{ total_comments }}</span>
                                {% endwith %}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}