{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <!-- plant blog post summary card -->
    <div class="container">
        <div class="row g-0 summary-card">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ plant.title }}</h1>
                <p class="card-text plant-icon"><i class="fa-brands fa-envira"></i> {{ plant.get_plant_level_display }}.
                </p>
                <p class="card-text plant-icon"><i class="fa-solid fa-sun"></i> {{ plant.get_plant_light_display }}.</p>
                <p class="card-text plant-icon"><i class="fa-solid fa-droplet"></i> {{ plant.plant_thirst }}/3</p>
                <p class="post-date">{{ plant.author }} | {{ plant.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in plant.featured_image.url %}
                <img class="img-responsive" alt="A plant in a ceramic pot placed on a table."
                    src="../static/images/leaf-placeholder-square.jpg" width="100%">
                {% else %}
                <img class="img-responsive" alt="A picture of the featured plant of the blog post."
                    src=" {{ plant.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- plant blog post content -->
<div class="container">
    <div class="row">
        <div class="col card mb-2">
            <div class="card-body">
                <p class="card-text">
                    {{ plant.content | safe }}
                </p>
                <div>
                    <!-- post likes counter -->
                    {% if user.is_authenticated %}
                    <div>
                        <span class="totals">YOUR OPINION:</span>
                        <form class="d-inline" action="{% url 'post_like' plant.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="blogpost_id" value="{{plant.slug}}"
                                class="btn-like no-border"><i class="fa-solid fa-heart"></i></button>
                            {% else %}
                            <button type="submit" name="blogpost_id" value="{{plant.slug}}"
                                class="btn-like no-border"><i class="fa-regular fa-heart"></i></button>
                            {% endif %}
                        </form>
                    </div>
                    {% endif %}
                    <div>
                        <span class="totals">TOTAL LIKES:</span>
                        <span class="btn-like no-border"><i class="fa-solid fa-heart"></i></span>
                        <span>{{ plant.number_of_likes }} </span>
                    </div>
                    <!-- post comments count -->
                    <div>
                        <span class="totals">TOTAL COMMENTS:</span>
                        {% with comments.count as total_comments %}
                        <span class="btn-like m-1"><i class="fa-solid fa-comment m-1"></i> {{ total_comments }}</span>
                        {% endwith %}
                    </div>
                </div>
                <a href="{% url 'home' %}">
                    <button class="btn btn-signup mt-4">Go Back</button>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <hr>
        </div>
    </div>
    <!-- comments section -->
    <div class="container">
        <div class="row">
            <div class="card-container col-lg-8 mb-4 mt-3">
                <h3>Comments:</h3>
                <div>
                    <!-- if there is at least one comment -->
                    {% if comments %}
                    <!-- for loop to iterate through comments -->
                    {% for comment in comments %}
                    <div class="comments">
                        <!-- body of the comment -->
                        <div>
                            {{ comment.body | linebreaksbr }}
                        </div>
                        <div>
                            <p class="post-icon mt-1"><i class="fa-solid fa-user pr-1"></i> {{ comment.name }}
                                on <span>{{ comment.created_on }}</span>
                            </p>
                        </div>
                        <div>
                            {% if comment.name == request.user.username %}
                            <div class="col-sm mt-1">
                                <a class="btn btn-sm btn-edit"
                                    href="{% url 'edit_comment' plant.slug comment.pk %}">Edit</a>
                                <a class="btn btn-sm btn-edit"
                                    href="{% url 'delete_comment' plant.slug comment.pk %}">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <!-- end of loop -->
                    {% endfor %}
                    <!-- else, if there is no comment -->
                    {% else %}
                    <p>No comments yet, be the first to share your experience!</p>
                    {% if not user.is_authenticated %}
                    <p>To post a comment, <a class="link" href="{% url 'account_login' %}">log in</a> to our site!
                        <br> If you do
                        not have an account, please <a class="link" href="{% url 'account_signup' %}">register</a>
                        here.</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="card-container col-lg-4 mb-4 mt-3 ">
                {% if user.is_authenticated %}
                <!-- alert if comment is posted, edited or deleted -->
                <div class="element-card" id="post-comment-card">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment has been successfully posted
                    </div>
                    {% elif comment_edited %}
                    <div class="alert alert-success" role="alert">
                        Your comment has been successfully edited
                    </div>
                    {% elif comment_deleted %}
                    <div class="alert alert-success" role="alert">
                        Your comment has been successfully deleted
                    </div>
                    {% endif %}
                    <!-- comment form -->
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-md mt-2">Submit</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}