{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ plant.title }}</h1>
                <p class="card-text plant-icon"><i class="fa-brands fa-envira"></i> {{ plant.get_plant_level_display }}.
                </p>
                <p class="card-text plant-icon"><i class="fa-solid fa-sun"></i> {{ plant.get_plant_light_display }}.</p>
                <p class="card-text plant-icon"><i class="fa-solid fa-droplet"></i> {{ plant.plant_thirst }}/3</p>
                <p class="post-date">{{ plant.author }} | {{ plant.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in plant.featured_image.url %}
                <img src="../static/images/leaf-placeholder-square.jpg" width="100%">
                {% else %}
                <img src=" {{ plant.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ plant.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong class="text-secondary post-icon"><i class="fa-solid fa-heart"></i> {{ plant.number_of_likes }}
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary post-icon"><i class="fa-solid fa-comment"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg btn-form">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}